.header1 {
    text-align: center;
    }
    .header2 {
        text-align: center;
    }
    .photo {
        width: 15%;
        height: 15%;
        display: block;
        margin: auto;
    }
    .Head {
        color: rgb(6, 17, 119);

    }